// @use 'sass:math';
@use "../../src/styles/conf";
@use "../../src/styles/func";

.main {
	padding: conf.$global-padding * 3 0;

	&__container {
		> *:not(script) {
			&:not(:first-of-type) {
				margin-top: conf.$global-margin * 1.5;
			}

			&:not(:last-of-type) {
				margin-bottom: conf.$global-margin * 1.5;
			}

			&[class$="callout--affordable"] {
				&:not(:first-of-type) {
					margin-top: conf.$global-margin * 3;
				}

				@media (min-width: conf.$s) {
					display: none;
				}
			}
		}
	}
}
