@use 'sass:math';
@use '../func/str-replace' as *;
@use '../func/number' as *;

$golden-ratio: 1.61803398875;

// ---------- Asymptotic Fibonacci numbers  ----------
$asymp-xxxl: number(str-replace(#{$golden-ratio - math.div(1, 1)}, '-', '')); // 0.61803398875
$asymp-xxl: number(str-replace(#{$golden-ratio - math.div(2, 1)}, '-', '')); // 0.381966011
$asymp-xl: number(str-replace(#{$golden-ratio - math.div(3, 2)}, '-', '')); // 0.118033989
$asymp-l: number(str-replace(#{$golden-ratio - math.div(5, 3)}, '-', '')); // 0.048632678
$asymp-m: number(str-replace(#{$golden-ratio - math.div(8, 5)}, '-', '')); // 0.018033989
$asymp-s: number(str-replace(#{$golden-ratio - math.div(13, 8)}, '-', '')); // 0.006966011
$asymp-xs: number(str-replace(#{$golden-ratio - math.div(21, 13)}, '-', '')); // 0.002649373
$asymp-xxs: number(str-replace(#{$golden-ratio - math.div(34, 21)}, '-', '')); // 0.00101363
$asymp-xxxs: number(str-replace(#{$golden-ratio - math.div(55, 34)}, '-', '')); // 0.00038693

// ---------- Asymptotic Fibonacci percentage  ----------
$asymp-xxxl-percentage: $asymp-xxxl * 100%; // 61.803398875%
$asymp-xxl-percentage: $asymp-xxl * 100%; // 38.1966011%
$asymp-xl-percentage: $asymp-xl * 100%; // 11.8033989%
$asymp-l-percentage: $asymp-l * 100%; // 4.8632678%
$asymp-m-percentage: $asymp-m * 100%; // 1.8033989%
$asymp-s-percentage: $asymp-s * 100%; // 0.6966011%
$asymp-xs-percentage: $asymp-xs * 100%; // 0.2649373%
$asymp-xxs-percentage: $asymp-xxs * 100%; // 0.101363%
$asymp-xxxs-percentage: $asymp-xxxs * 100%; // 0.038693%
