// Typography
$font-size-root: 16px;
$font-family-sans-serif: "Montserrat", sans-serif;

$line-height-zero: 1;
$line-height-xxxs: 1.2;
$line-height-xxs: 1.3;
$line-height-xs: 1.4;
$line-height-s: 1.5;
$line-height-m: 1.6;
$line-height-l: 1.7;
$line-height-xl: 1.8;
$line-height-xxl: 1.9;
$line-height-xxxl: 2;

$global-line-height: $line-height-s;

// Colors
$white: #fff;
$black: #000;
$royal-blue: #2f54eb;
$west-side: #fa8c16;

$body-color: $black;
$body-bg: $white;

// // The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// // See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 4.5;

// Breakpoints
$zero: 0;
$xxxs: 320px;
$xxs: 375px;
$xs: 480px;
$s: 600px;
$m: 768px;
$l: 924px;
$xl: 1202px;
$xxl: 1600px;
$xxxl: 1920px;

// Grid
$global-padding: 16px;
$global-margin: 16px;
$grid-gutter-width: 32px;
